body
{
	background-image: url("cvback2.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	color: white;
}
.cv
{
	
	height: 1200px;
	margin-top: 100px;
	margin-bottom: 100px;
	background-size: 100%;
	background-repeat: no-repeat;;
}