body{
	background-image: url("cvback2.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}
.rows
{
	margin-bottom: 100px;
	margin-top: 100px;
}
.cv
{
background-color: white;
height: 1100px;
margin-bottom: 100px;
}
.col1
{
	padding: 0px;
	background-color: black;
	height: 1000px;
	margin-bottom: 50px;
	margin-top: 50px;

}
.col2
{
	margin-top: 50px;
	margin-bottom: 50px;
}
.profileimg
{
	height: 180px;
	width: 100%;
}
.sidebar
{
	color: white;
	padding: 10px;
}
.education
{
background-color: #33ff33;
padding: 20px;
}
.projects
{
background-color: #ffdd1a;
padding: 20px;
}
.professionalskills
{
	background-color: #ff1aff;
	padding: 20px;

}
.interests
{
background-color: #00997a;
padding: 20px;
}
